.App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #245fa2;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.keyword{
  background-color: #e9eff9;
}

input{
  padding:5px;
  margin:10;
  width:35%;
  border-radius:5px;
  border:1px solid #eee;
}

button{
  background-color: #245fa2;
  color:#fff;
  border:1px solid #245fa2;
  border-radius:5px;
  box-shadow:none;
  min-width:100px;
  margin-left:10px;
  padding:5px;
  cursor:pointer;
}